#home{
    /* background-image: radial-gradient(circle farthest-side at -20% 30%,#717175,#1C1D23,#1C1D23,#1C1D23); */
    background-image: linear-gradient(135deg,#505055,#2b2c31,#232327,#1C1D23);
    margin-top: -70px;
    display: flex;
    justify-content: flex-start;
}